@inject IJSRuntime JS

<div class="window_frame"
     style="position:absolute; top: @(offsetY)px; left: @(offsetX)px; width: @(Width)px; height: @(Height)px;" hidden="@(!ReadyToShow)"  @ref="@windowRef">
    <div class="title_bar" draggable="true" 
         @ondragend="OnDragEnd" @ondragstart="OnDragStart">
        <div>@Title</div>
        <div class="button_div">
            @foreach (TitleButtonData item in TitleButtons)
            {
                <TitleBarButton Website="@item.Website" Link="@item.URL" />
            }
        </div>
    </div>
    <div class="window_content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Title { get;set;}
    [Parameter]
    public RenderFragment ChildContent { get;set;}

    [Parameter]
    public int WindowDragPadding { get;set;} = 5;

    private List<TitleButtonData> TitleButtons;

    public double Width, Height = 0;

    private WindowDimension windowDims;

    private ElementReference windowRef;
    private bool ReadyToShow = false;
    protected override void OnInitialized()
    {
        Task.Run(() => SetInitialPos());
        base.OnInitialized();
        MakeTitleButtons();
    }

    /// <summary>
    /// Sets the inital position of the window inside the desktop
    /// </summary>
    /// <returns></returns>
    private async Task SetInitialPos()
    {
        windowDims = await JS.InvokeAsync<WindowDimension>("getWindowDimensions");
        Width = 0.7 * windowDims.Width;
        Height = 0.7 * windowDims.Height;
        StateHasChanged();
        var result = await JS.InvokeAsync<BoundingClientRect>("getBoundingClientRect", new object[] { windowRef });
        offsetX = (windowDims.Width - result.Width) / 2;
        offsetY = (windowDims.Height - result.Height) / 2;
        ReadyToShow = true;
        StateHasChanged();
    }

    private void MakeTitleButtons()
    {
        TitleButtons = new List<TitleButtonData>();

        var sites = SiteConfig.config.GetSection("Sites");
        foreach (var siteConfigItem in sites.GetChildren())
        {
            string url = siteConfigItem["URL"];

            string website = siteConfigItem["Website"];

            TitleButtons.Add(new TitleButtonData(website,url));
        }
    }


    private double startX, startY, offsetX, offsetY;
    private void OnDragStart(DragEventArgs args)
    {
        startX = args.ClientX;
        startY = args.ClientY;
    }

    private async void OnDragEnd(DragEventArgs args)
    {
        var result = await JS.InvokeAsync<BoundingClientRect>("getBoundingClientRect", new object[]{ windowRef });
        Width = result.Width;
        Height = result.Height;

        offsetX = Math.Min(Math.Max( offsetX  + (args.ClientX - startX), WindowDragPadding), windowDims.Width - result.Width - WindowDragPadding);
        offsetY = Math.Min(Math.Max( offsetY  + (args.ClientY - startY), WindowDragPadding), windowDims.Height - result.Height - WindowDragPadding);
        StateHasChanged();
    }
}
